//
// Imported in ‘assets/main.scss’. Allows adding to and/or
// overriding Mimina's defaults.
//

.screenshot {
  margin-bottom: 2em;
}

@media (prefers-color-scheme: dark) {
  .site-title {
    color: lightgray !important;
  }
  .page-link {
    color: gray !important;
  }
  .site-nav {
    background-color: black;
    border: 1px solid black;
  }
    

  header,
  .site-footer {
    border: none !important;
  }
  body {
    color: gray;
    background: #000;
  }
  a:hover {
    color: #44f;
  }
}
